<div style="padding-bottom: 30px;">
    <div class="card h-100">
        <a class="text-decoration-none">
            <div style="align-content:center; padding-top: 30px;">
                <img src="/assets/{{produto.imagem}}" height="164px" width="253px">
            </div>
        </a>

        <h4 class="card-title">{{produto.descricao | titlecase}}</h4>

        <div class="card-body">

            <div [ngSwitch]="produto.promocao">
                <p *ngSwitchCase="true">Promoção:</p>
                <p *ngSwitchCase="false">Por apenas:</p>
            </div>

            <div *ngIf="produto.promocao">
                <h4>
                    <small>
                        <del>{{produto.preco | currency:'BRL':symbol:'1.2-2':'pt'}}</del>
                    </small>
                    <p> {{produto.precoPromocao | currency:'BRL':symbol:'1.2-2':'pt'}}</p>
                </h4>
            </div>

            <div *ngIf="!produto.promocao">
                <h4>
                    <br>
                    <p>{{produto.preco | currency:'BRL':symbol:'1.2-2':'pt'}}</p>
                </h4>
            </div>
        </div>

        <div class="card-footer">
            <a class="btn btn-info text-white btn-block" (click)="promocao()">
                <span class="fa fa-gift"></span> Promoção
            </a>

            <a class="btn btn-success text-white btn-block">
                <span class="fa fa-shopping-cart"></span> Comprar
            </a>

            <a class="btn btn-secondary text-white btn-block" [routerLink]="['visualizar', produto.id]">
                <span class="fa fa-eye"></span> Visualizar
            </a>
        </div>
    </div>
</div>