<div class="container main-container">

    <header class="jumbotron">
        <h1 class="display-4">Contato</h1>
        <p class="lead">Rua Hilda Del Nero Bisquolo, 102 - 25º Andar - Sala 2508 Jardim Florida, Jundiaí - SP, 13208-703</p>
    </header>

    <form>
        <div class="row row-sm-offset">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Telefone</label>
                    <input type="tel" class="form-control">
                </div>
            </div>
        </div>


        <div class="form-group">
            <label>Mensagem</label>
            <textarea type="tel" class="form-control">
                
            </textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>


</div>