<div class="alert alert-danger" *ngIf="errors.length > 0">
    <ul>
        <li *ngFor="let erro of errors">
            {{erro}}
        </li>
    </ul>
</div>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
        </div>

        <br>
        <br>

        <!-- Login Form -->
        <form [formGroup]="formulario" (ngSubmit)="login()">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login" formControlName="login">


            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha" formControlName="senha">


            <br>
            <br>

            <button class="btn btn-info">
                <i class="fa fa-sign-in" aria-hidden="true">&nbsp;Entrar</i>
            </button>

            <br>
            <br>
        </form>



    </div>
</div>