<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
        </div>

        <br>
        <br>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha">


            <br>
            <br>

            <button class="btn btn-info">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>

            <br>
            <br>
        </form>



    </div>
</div>