<div class="container main-container">

    <div class="row text-center">

        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img src="/assets/qualidade.png" class="card-img-top" height="164px" width="253px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Qualidade</h5>
                    <p class="card-text">Traduzimos através da melhoria contínua dos nossos processos.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img src="/assets/trabalho_equipe.jpg" class="card-img-top" height="164px" width="253px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trabalho em equipe</h5>
                    <p class="card-text">União das forças para um trabalho muito mais eficiente.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img src="/assets/inovacao.jpg" class="card-img-top" height="164px" width="253px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Inovação</h5>
                    <p class="card-text">Utilizamos os mais novos recursos disponíveis para criação de novas ferramentas.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>



    </div>

</div>