<div class="container main-container">

    <h4 class="text-center">Cadatro</h4>
    <hr>

    <form (ngSubmit)="salvar()" [formGroup]="cadastroForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                    <span class="text-danger" *ngIf="displayMessage.nome">
                        <p [innerHTML]="displayMessage.nome"></p>
                    </span>

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />

                    <span class="text-danger" *ngIf="displayMessage.email">
                        <p [innerHTML]="displayMessage.email"></p>
                    </span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>CPF</label>
                    <input type="tel" class="form-control" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}" [ngClass]="{'is-invalid': displayMessage.cpf }" />

                    <span class="text-danger" *ngIf="displayMessage.cpf">
                        <p [innerHTML]="displayMessage.cpf"></p>
                    </span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" formControlName="senha" autocomplete="off" [ngClass]="{'is-invalid': displayMessage.senha }" />

                    <span class="text-danger" *ngIf="displayMessage.senha">
                        <p [innerHTML]="displayMessage.senha"></p>
                    </span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Confirmacao Senha</label>
                    <input type="password" class="form-control" formControlName="confirmarSenha" autocomplete="off" [ngClass]="{'is-invalid': displayMessage.confirmarSenha }" />
                    <span class="text-danger" *ngIf="displayMessage.confirmarSenha">
                        <p [innerHTML]="displayMessage.confirmarSenha"></p>
                    </span>



                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!cadastroForm.valid">Salvar</button>

        <div class="form-group">
            <p>Formulario está válido {{cadastroForm.valid}}</p>
            <p>Formulario ganhou foco {{cadastroForm.touched}}</p>
            <p>Formulario foi alterado {{cadastroForm.dirty}}</p>
        </div>
    </form>
</div>